.headerAdvise{
    background: rgb(151, 0, 0);
    grid-area: 1/1/2/4;
    color: white;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 