.containerForButtons{
    width: 95%;
    height: auto;
    background-color: rgb(150, 21, 21);
    border-bottom: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
    justify-content: space-evenly;
    margin-top: 7px;
}

.shopItem{
    height: 70px;
    width: 70px;
    border: none;
}

.imgShop{
    height: 100%; 
    width: 100%;
}